.todo-container{
  display: flex;
  box-flex: 1;
  flex-grow: 1;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  transition: padding-left 200ms;
  padding-left: 0;
  .checklist-container{

  }
}
